.graph-placeholder:empty {
    min-height: 250px;
    background-color: lightgray;
}
.inkmedia-header{
    font-size: 19px;
}

.floating-card {
    margin: 1rem 0;
    padding: 10px;
    border: 1px solid whitesmoke;
    box-shadow: 0px 3px 5px whitesmoke;
    border-radius: 3px;
}